.darkMode {
    .myNavBar {
        background-color: $color-dark-4;
        .myNavBar_left {
            .navbar-brand {
                .logo-white {
                    display: inline-block;
                }
                .logo-black {
                    display: none;
                }
            }
            .myNavBar_catagories {
                color: $color-dark-3;
                i {
                    color: $color-dark-5;
                }
            }
            .myNavBar_form-search {
                @include styleSearch($color-dark-0, $color-dark-6, $color-dark-2, $color-dark-5);
            }
        }
        .myNavBar_right {
            .navbar-nav {
                .nav-item {
                    border: 1px solid transparent;
                    .nav-link {
                        color: $color-dark-5;
                    }
                    &:hover {
                        border: 1px soild $color-dark-2;
                        background-color: $color-dark-0;
                    }
                    .overlay {
                        background-color: $color-dark-4;
                        border: 1px solid $color-dark-2;
                        &::before {
                            background-color: $color-dark-4;
                            border-top-color: $color-dark-2;
                            border-left-color: $color-dark-2;
                        }
                    }
                }
                .myNavBar_bt {
                    &:hover {
                        background-color: transparent;
                        border-color: transparent;
                    }
                }
            }
        }
        .navbar-toggler {
            background-color: $color-dark-5;
        }
    }
}
