.owl-carousel {
    .owl-nav button {
        span {
            font-size: 40px;
            line-height: 28px;
        }
        &.owl-prev,
        &.owl-next {
            color: $color-blue-0;
            background-color: $color-white-0;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            box-shadow: 0 2px 8px 2px $color-black-1;
            font-size: $fs-5;
            position: absolute;
            top: 35%;
            &:hover {
                 transition: .5s;
                background-color: $color-gray-0;
                color: $color-white-0;
            }
        }
        &.owl-prev {
            left: -2%;
        }
        &.owl-next {
            right: -2%;
        }
    }
}
