.intro {
    background: linear-gradient(-45deg, $color-red-0, $color-purple);
    padding: $pd-3;
    .intro_content {
        width: 78%;
        margin: 0 auto;
        .intro_item {
            display: flex;
            align-items: center;
        }
        .intro_icon {
            font-size: $fs-6;
            color: $color-white-0;
            margin-right: $mg-1;
        }
        .intro_detail {
            p {
                margin-bottom: 0;
                &:first-child {
                    @include styleText($color-white-0, $fs-3 - 1, $fw-2);
                }
                &:last-child {
                    @include styleText($color-white-0, $fs-0, $fw-0);
                }
            }
        }
    }
    @include respon("extra-large") {
        .intro_content {
            .intro_icon {
                display: none;
            }
        }
    }
    @include respon("medium") {
        display: none;
    }
}
