.jobs {
    background-color: $color-gray-6;
    .job_content {
        .row {
            padding: $pd-0 0;
        }
        .job_item {
            max-width: 450px;
            margin: 0 auto;
            text-align: center;
            padding:$pd-3;
            h2 {
                @include styleText($color-black-0,$fs-3 + 1,$fw-1);
            }
        }

    }
    // @include respon("medium"){
    //     .border-right {
    //         // border: none !important;
    //     }
    // }
}